<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

    <a class="navbar-item" routerLink="/">
      <img src="../assets/logo.png">
    </a>

  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">

      <a class="navbar-item" routerLink="/companies" style="margin-left: 22.8px">
        Companies
      </a>

      <a class="navbar-item" routerLink="/products">
        Products
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>


        <div class="navbar-dropdown">
          <a class="navbar-item" routerLink="about">
            About
          </a>

          <a class="navbar-item" routerLink="contact">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" routerLink="additionalStuff">
            Known bugs
          </a>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light" routerLink="login" *ngIf="!isLoggedIn">
            Login
          </a>
          <a class="button is-light" routerLink="signup" *ngIf="!isLoggedIn">
            Sign Up
          </a>
          <a class="button mat-primary is-light " (click)="logout()" *ngIf="isLoggedIn">Logout</a>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="notification is-primary" *ngIf="isSignedOut" style="margin-bottom: 0px">
  <button class="delete" onclick="this.parentElement.style.display='none'"></button>
  <h3 >
    You were successfully logged out!
  </h3>
</div>
<router-outlet></router-outlet>
<app-messages></app-messages>

