/* AppComponent's private CSS styles */
@import '../main-styles.scss';




.navbar {
  background: linear-gradient(75deg, rgb(189, 171, 255), rgb(173, 203, 231));
  display: flex;
  margin-bottom: 0;
.navbar-item{


    font-family: 'Lato', serif;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 900;
    text-transform: uppercase;
    color: $dark;
    text-decoration: none;

  nav a {

    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    background-color: transparent;
    border-radius: 4px;
    font-family: 'Lato', serif;
    font-weight: 400;
  }

  nav a:visited, a:link {
    color: #334953;
  }

  nav a:hover {
    color: #039be5;
    background-color: #f2fbfd;
  }

  nav a.active {
    color: #039be5;
  }
}}
