<div class="content is-large" style="margin-left: 5px">
  <h3>Refactoring the project in frontend is required!</h3>
  <p>Known bugs:</p>
  <ul>
    <li>Product:
      <ol class="is-upper-roman">
        <li>Manufacturer can be searched but cannot be chosen and therefore saved</li>
      </ol>
    </li>
    <li> Company:
      <ol class="is-upper-roman">
        <li>Country in company doesn't work as supposed -> every time the company is added/edited, next time it is
          required to set the country on the wished position.
        </li>
      </ol>
    </li>
    <li> UI:
      <ol class="is-upper-roman">
        <li>Problem with showing the login/logout button on the top -> NG0100 Expression has changed after it was
          checked
        </li>
        <li>Signing up the new user may cause the change of UI</li>
        <li>Proportions are not centered</li>
        <li>Background picture in companies/products page should be more flexible</li>
        <li>After refreshing, while being signed in, it is possible to get login and sign up buttons on the navbar</li>
      </ol>
    </li>


  </ul>
</div>
