<form>
  <div class="field is-horizontal">
    <div class="field-body">

      <div class="field is-narrow">
        <p class="control">
          <input type="number" style="width: 100px" class="input" placeholder="Price">
        </p>
      </div>

      <div class="field">
        <p class="control">
          <input type="text" class="input" placeholder="Name">
        </p>
      </div>

      <div class="field is-narrow">
        <button type="submit" class="button is-link">
          Add
        </button>
      </div>

    </div>
  </div>

  <div class="field-body">
    <div class="field ">
      <p class="control">
        <textarea class="textarea" placeholder="Description"></textarea>
      </p>
    </div>
  </div>


  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field is-narrow">
        <p class="control">
          <input type="number" style="width: 100px" class="input" placeholder="Amount">
        </p>
      </div>


      <div class="control">
        <div class="field is-narrow">

          <label class="radio" style="margin-right: 20px;margin-left: 20px;;font-weight: initial">
            <input type="radio" name="condition" checked>
            New
          </label>
          <label class="radio" style="margin-right: 20px;font-weight: initial ">
            <input type="radio" name="condition">
            Like New
          </label>
          <label class="radio" style="margin-right: 20px;;font-weight: initial">
            <input type="radio" name="condition">
            Used
          </label>
          <label class="radio" style="margin-right: 20px;font-weight: initial">
            <input type="radio" name="condition">
            Acceptable
          </label>
          <label class="radio" style="margin-right: 20px;font-weight: initial">
            <input type="radio" name="condition" disabled>
            Ahmm, I don't know ???
          </label>
        </div>

      </div>



    </div>
  </div>

</form>
