
<div class="content is-large" style="margin-left: 5px">
  <h1 style="margin-top: 10px">  <blockquote>This website is a template. You can use it without any warranties</blockquote> </h1>
  <hr>
  <p>This website represents the "admin" panel of adding, editing or deleting companies and products. </p>
  <p>To be able to see the data from backend you have to either:  </p>
  <ul>
    <li>sign up</li>
    <li>login</li>
    <li>hack the backend  😎 </li>
  </ul>
  <p>I use here following technology stack: </p>
  <ol type="I">
    <li>Java Spring Boot providing the RESTful services 🛠</li>
    <li>PostgreSQL💾</li>
    <li>Angular/HTML/SCSS🍜</li>
    <li>Docker🐳</li>
  </ol>

  <p>This project would not be possible without follow developers guides:</p>
  <ul>
    <li>https://loizenai.com/</li>
    <li>https://www.youtube.com/channel/UCbwsS1m4Hib6R-9F1alus_A</li>
  </ul>
</div>
