@import '../../main-styles.scss';

.company-product-section {
  display: flex;
  height: 250px;
  background: $dark;

  // Horizontally and vertically center the text
  justify-content: center;
  align-items: center;

  .buttons {
    font-family: 'Lato', serif;
    font-weight: 300;
    font-size: 58px;
    color: white;

    .button.is-success.is-light{
      color: lighten($green, 12%);
      margin-left: -40px;
    }
    .button.is-primary.is-primary{
      color: lighten($red, 12%);
    }
    .button.is-success.is-light, .button.is-primary.is-light{
      background-color: transparent;
      font-size: 58px;
    }
  }
}

.add-item-section {
  display: flex;

  justify-content: center;
  align-items: center;

  .add-item-container {
    width: 680px;

  }
}

.product-view{
  .add-item-container {
    height: 240px;
  }
}
.company-view{
  .add-item-container {
    height: 125px;
  }
}


